.container {
  max-width: 65rem;
  margin-inline: auto;
  padding-inline: .5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#cookie-container {
  height: 150px;
  min-width: 150px;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
}

#counter {
  min-height: 3em;
  width: 75%;
}

#cookie-count {
  color: var(--c-light);
}